body {
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#agenda {
	max-width: 500px;
	margin: 0 auto;
}

#trash-area {
	width: 100%;
	text-align: center;
	padding: 10px;
}

#trash {
	height: 50px;
}